/* RESET */
img{
    width: 100%;
}
/* VARIABLES */
:root{
    --vertical_spacing: 20px;
}

/* UTILITIES */
textarea{
    display: block;
    margin: 5px auto;
    width: 100%;
}

.white_clr{
    color:white;
}

.footer_clr_light{
    background-color: #3A546D;
}

.footer_clr_dark{
    background-color: #2C3E50
}

.white_clr > hr{
    color:white;
}

.title_fontsize{
    font-weight: 700;
}

.ms_header{
    height: 55px;
    background-color: #444362;
}

h3{
    font-size: 1.35rem;
}

.bg_clr{
    background-color: #1ABC9C;
}

._row{
    margin-bottom: 30px;
}

.star_hr_dx{
    border: 1px solid;
    width: 70px;
    align-self: center;
    opacity: 1;
    margin: 0 0 0 10px;
    padding: 0;
}

.star_hr_sx{
    border: 1px solid;
    width: 70px;
    align-self: center;
    opacity: 1;
    margin: 0 10px 0 0;
    padding: 0;
}

.vertical_align_mid{
    vertical-align: middle;
}

footer div:nth-child(1){
    padding-top: 20px;
}

footer div:nth-child(2){
    padding: 20px 0;
}

footer div:nth-child(3){
    padding-bottom: 20px;
}

.green-clr{
    color: #1ABC9C
}

.green-bg-clr{
    background-color: #1ABC9C
}

.footer_small_txt{
    font-size: 0.7rem;
    margin-bottom: 0;
}

.footer_big_txt{
    font-size: 0.85rem;
}

/* IDs */
#msg_area{
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    border-left: 0;
    margin-bottom: 10px;
    opacity: 0.3;
}

#name, #email, #phone_number, #msg_area{
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    border-left: 0;
    opacity: 0.3;
}

/* CLASSES */
.ms_hdr_row{
    color: white;
    margin: 0 auto;
}

.ms_hdr_row > *{
    padding: 0;
}

.hamburger_box{
    width: unset;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 1rem;
}

.header_navlist{
    font-size: 0.7rem;
    margin: 0;
}

.header_navlist li{
    list-style-type: none;
    margin-left: 20px;
}

.header_navlist li a{
    text-decoration: none;
    color: white;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.jumbotron > *{
    color: white;
    margin: var(--vertical_spacing) 0;
}

.jumbotron h5{
    font-size: 0.8rem;
}

.jumbo_img{
    width: 200px;
    margin: 20px auto 0;
}

.portfolio-text{
    margin: var(--vertical_spacing) 0;
}

.bottom_sect{
    padding: var(--vertical_spacing) 0;
}

.bottom_sect > *{
    margin: var(--vertical_spacing) auto;
}

.download_btn a{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 0.75rem;
    color: white;
}

.contactme_form a{
    background-color: #1ABC9C;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
}

.msg_span{
    display: block;
}

.send_btn{
    width: 65px;
}

.socials{
    padding: 0;
    margin-bottom: 0;
}

.socials li{
    width: 35px;
    height: 35px;
    border: 1px solid white;
    border-radius: 50%;
    list-style-type: none;
    line-height: 25px;
    margin: 0 5px;
}

.socials li a{
    color: white;
}

.footer_bottom{
    font-size: 0.5rem;
    padding: 20px 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 576px){
    .title_fontsize {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px){
    footer > *{
        padding: 20px 0;
    }
}